* {
  padding: 0;
  margin: 0;
  text-align: center;
}
html {
  height: 100%;
}
body {
  background: linear-gradient(45deg, #08001f, #30197d);
  background-color: white;
}
button {
  margin: 10px;
  width: 20rem;
  height: 5rem;
  background-color: #106cad;
  border: 2px solid #3149c4;
  color: #05124d;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #064e81d2;
}
h1 {
  margin: 20px;
  color: #7b8cde;
  font-size: 4rem;
}
h1:hover {
  text-decoration: underline;
}
.game {
  margin-top: 40px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.score {
  color: white;
  font-size: 2rem;
}
img {
  width: 150px;
  height: 130px;
}
.js-score1 {
  margin-bottom: 40px;
}
